.nl-sortable li {
	background: #fee;
	padding: 3px;
	cursor: pointer;
	position: relative;
}

.nl-sortable .delete {
	position: absolute;
	top: 0;
	right: 1px;
	border: none;
	margin: 0;
	padding: 2px;
	background: 0 0;
	color: #b4b9be;
	cursor: pointer;
}

.nl-sortable .delete::before {
	background: 0 0;
	color: #b4b9be;
	content: "\f153";
	display: block;
	font: 400 16px/20px dashicons;
	speak: none;
	height: 20px;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nl-sortable .delete:hover::before {
    color: #c00;
}

.lead .lead-image-reset,
.lead-image-selector {
	display: none;
}

.submeta-area {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #ddd;
	background: #fafafa;
}

.submeta-area h4 {
	margin: 0 0 5px;
}

.lead-image img {
	max-width: 600px;
	height: auto;
}

.inside.youtube label {
	display: inline-block;
	width: 100px;
}

.inside.youtube input {
	display: inline-block;
	width: 400px;
}

.nl-sortable .ui-sortable-helper {
	background: #e66;
}
